body{
font-family: Helvetica,  Arial, sans-serif;
 margin: 0;
 padding:0;
 }



header {
  

 background-position: center top;
 background-repeat: no-repeat;
 background-size: cover;
 line-height: 1.2; 
 text-align: center;
 }

#main-content {
    
    background-image: url('creative2.jpg');
    background-position:center;
    height:600px;
    background-size:cover;
    background-repeat: no-repeat;
}

.pic {
    max-width: 1000px; 
    height: 200px;
    border-radius: 20px;
    padding; 20px;
    
    }



.bar {
    
    padding: 20px;
    padding-left: 60px;
    
}



ul li {
    
    display:inline-block;
    align-items: center;
    

}

li a {
    
    color: black;
    font-size: 30px;
    padding: 20px;
    padding-left: 30px;
    text-decoration: none;
    font-family: 'Slabo 13px', serif;
}

li a:hover {
    
    color: blue;
}

.text {
    
    align-content: center;
    padding: 40px;
    text-decoration: none;
}

article {
    
  margin-left: 50px;
  margin-right: 90px;
  padding-left: 90px;
  text-align: center;

}

.sent{
    
    margin-left: 2em;
    margin-right: 1em;
    padding-bottom: 50px;
}

h1{
    
   font-family: 'Slabo 13px', serif;
    text-align: center;
    padding-top: 220px;
    font-size: 40px;
    color: white;
    
}




h2:hover {
    
    color:blue;
}



.data {
    
    padding-bottom: 50px;
}


#maincontent {
    
    background-color: #f2f3fc;
    border-radius: 4px;
    padding: 20px;
    text-align: center;

    }


.paragraph {
    
    text-align:  center;
    
    
}



h2 {
    
   font-family:  'Slabo 13px', serif;
    font-size: 34px;
}


#twitter{
    
    align-content: center;
}

#footer {
    
   height: 60px;
   padding-top:20px;
    padding-left: 30px;
    background-color: #f2f3fc;
    border-top: 1px solid gray;
    margin-top: 20px;
    
}

footer p {
    font-style: bold;
    font-size: 20px;
}

em:hover {
    
    color:blue;
}

em{
    
    color: hotpink;
}











